<!--
    Library Management System
    Group 3
	Owen Bessette, Chris Gerk,
	Jin Lee, Kush Patel, and Sereyvichea Phan
    Professor Gao
	CSC-445-01 Software Engineering
	
	Code sourced and modified from
	MDN Express web framework (Node.js/JavaScript)
	learning resources for beginning developers and students
	https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs
-->

extends layout

block content

  h1 Author: #{author.name}
  p #{author.lifespan}

  div(style='margin-left:20px;margin-top:20px')

    h4 Books

    dl
    each book in author_books
      dt
        a(href=book.url) #{book.title}
      dd #{book.summary}

    else
      p This author has no books.

  hr
  p
    a(href=author.url+'/delete') Delete author
  p
    a(href=author.url+'/update') Update author